<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Cindaquil</title>
    <link rel="shortcut icon" href="../img/cyndaquil.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: antiquewhite;
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
        
        #enlace {
            text-align: center;
        }
    </style>
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1>Cindaquil</h1>
    <img style="width: 25%;" src="../img/cyndaquil.png" alt="cyndaquil">
    <p><b>Tipo:</b> <span style="background-color: orange; padding: 3px; border-radius: 5px;">fuego</span></p>
    <br>
    <b>Descripción:</b>
    <p>Cyndaquil se protege soltando llamas por el lomo. Cuando está enfadado, las llamas son fieras, pero, si está cansado, solo consigue echar algunas chispas que no llegan a cuajar en una completa combustión.</p>
    <p id="enlace"><a href="../index.html">Volver a inicio</a></p>
</body>

</html>